body {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.caixa-conteudo1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caixa-texto {
  width: 600px;
}
